<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Lorena Rocha | Portifólio</title>
</head>

<body>
    <!--
    <aside id="profile">
        <section class="align-middle">
            <img id="profile-img" src="../static/img/perfil.jpg" alt="Lorena">
            <h1 id="title-name">Lorena Rocha</h1>
            <article class="social-media">
                <a href="https://github.com/lorenarocha" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/lore-rocha/" target="blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="http://lattes.cnpq.br/6687918107723683" target="_blank">
                    <i class="ai ai-lattes"></i>
                </a>
                <a href="mailto:lore.bezerra.r@gmail.com" target="_blank">
                    <i class="bi bi-envelope"></i>
                </a>
            </article>
        </section>
    <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">Contato</a>
                </li>
            </ul>
        </nav>
    </aside>
-->

    <header id="header">
        <nav id="nav" class="nav-menu mt-2">
            <ul class="nav justify-content-end ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#start">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilities">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <section id="start" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="display-2 display-name">Lorena Rocha</h2>
                <span id="subtitle" class="display-title">Cientista de Dados e Meterologista</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="more" class="d-flex align-items-center">
                    <i class="bi bi-caret-down pe-2 fs-2" aria-hidden="true"></i>
                    <small><a href="">Arraste para mais</a></small>
                </div>
            </div>
        </section>
        <section id="about" class="container mt-5">
            <div class="row w-100">
                <article class="col-md-12">
                    <h2 class="pt-3 title-section">Sobre</h2>
                    <p>Meteorologista pela Universidade Federal de Itajubá (Unifei) e atualmente, faço Mestrado pelo
                        Programa de Pós-Graduação em Meteorologia pela Universidade de São Paulo (USP). Na área
                        acadêmica, atuo em Sinótica e Meteorologia de Mesoescala.</p>

                    <p>Por trabalhar com dados geoespaciais e bastante estatística na minha formação, decidi expandir
                        meus horizontes! Estou me aprofundando em Data Science e bem focada nesse processo. Até agora,
                        desenvolvi habilidades em análises exploratórias, visualização de dados e aprendizado de máquina
                        através do Python. Sou uma pessoa que preza muito pelo aprendizado, então estou sempre
                        descobrindo coisas novas que contribuam na minha jornada.
                    </p>
                </article>
                <article class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Lorena Rocha">
                    </div>
                    <div class="col-md-8">
                        <h4 class="title-section">Meteorologista e Cientista de Dados</h4>
                        <p>Atualmente, faço Mestrado pelo Programa de Pós-Graduação em Meteorologia pela Universidade de
                            São Paulo (USP) e estudo Ciência de Dados autônoma.</p>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5 fw-lighter">
                                    <li class="list-group-item">
                                        Niver
                                    </li>
                                    <li class="list-group-item">
                                        Idade
                                    </li>
                                    <li class="list-group-item">
                                        Cidade
                                    </li>
                                    <li class="list-group-item">
                                        Estado
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5 fw-lighter">
                                    <li class="list-group-item">
                                        Hobbies
                                    </li>
                                    <li class="list-group-item">
                                        Site
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho
                                    </li>
                                    <li class="list-group-item">
                                        Experiência
                                    </li>
                                </ul>
                            </div>
                            <article class="social-media mt-3">
                                <a href="https://github.com/lorenarocha" target="_blank">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/lore-rocha/" target="blank">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="http://lattes.cnpq.br/6687918107723683" target="_blank">
                                    <i class="ai ai-lattes"></i>
                                </a>
                                <a href="mailto:lore.bezerra.r@gmail.com" target="_blank">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </article>
                        </div>

                        <p></p>
                    </div>
                </article>
            </div>
        </section>
        <section id="habilities" class="mt-5 section-bg">
            <article class="container p-5">
                <h2 class="pt-3 title-section">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime blanditiis ipsam minima itaque qui quasi, optio obcaecati fugiat asperiores consequatur quod quis perspiciatis facere? Omnis unde laboriosam amet quisquam!
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL Oracle</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Shell Script</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">R</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Fortran</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">GrADS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL Oracle</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Shell Script</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">R</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Fortran</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">GrADS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>